@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

:root{
    --colorp: #25a18e;
    --colorc: #7ae1d1;
    --colors: #fff;
    --colorg: #eceff4;
    --colorb: #0a0908;
    --degradado: linear-gradient(90deg, rgba(37,161,142,1) 30%, rgba(122,225,209,1) 100%);
    --botona: background-color 0.5s ease, border 0.2s ease, transform 0.1s ease;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.btn:active{
    transform: scale(0.8);
}

header {
    background-color: #fff;
    width: 100% !important;
}

.navbar {
    background-color: var(--colors);
    padding: 8px 16px;
    font-size: 1.25rem;
    box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
}

.navbar-toggler{
    color: var(--colorb);
    background-color: var(--colorg);
}

.navbar ul li a, .navbar a{
    text-decoration: none;
    color: var(--colorb);
    transition: all 0.5s ease;
}

.navbar ul li a:hover, .navbar a:hover{
    color: var(--colorp);
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--colors);
    position: relative;
    background: var(--degradado);
    margin-top: 56px;
}

.welcome .row{
    align-items: center;
    justify-content: center;
}

.welcome h1{
    font-weight: bold;
}

.welcome h2{
    font-weight: 500;
}

.welcome .btn{
    background-color: var(--colors);
    padding: 8px 35px;
    font-weight: 600;
    color: var(--colorb);
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
    border: 1px solid transparent;
    border-radius: 20px;
    transition: var(--botona);
}

.welcome .btn:hover{
    border: 1px solid var(--colors);
    background: transparent;
    color: var(--colors);
}

.welcome .animacion{
    width: 100%;
    height: auto;
}

.gris{
    background-color: var(--colorg);
}

.about {
    text-align: justify;
    font-size: 1.15rem;
}

.text-about .about-enlace span{
    font-weight: bold;
}

.text-about .about-enlace a{
    color: var(--colorp);
}

h3{
    text-align: center;
}

.skills {
    background-color: var(--colors);
    color: var(--colorb);
    border-radius: 5px;
    box-shadow: 5px 5px 23px -9px;
    font-size: 1.15rem; 
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin: 0;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

.skills i{
    color: var(--colorp);
}


.bar .progress-line span::before{
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    width: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: var(--colorb);
}

.bar .progress-line span::after{
    position: absolute;
    right: 0px;
    top: -34px;
    color: var(--colors);
    font-size: 1rem;
    font-weight: 500;
    background: var(--colorb);
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.css span::after{
    content: "80%";
}

.progress-line.boo span::after{
    content: "90%";
}

.progress-line.js span::after{
    content: "85%";
}

.progress-line.angular span::after{
    content: "50%";
}

.progress-line.mysql span::after{
    content: "85%";
}

.progress-line.react span::after{
    content: "80%";
}

.progress-line.ts span::after{
    content: "70%";
}

.skills-bar .bar .progress-line{
    height: 10px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background: var(--colorg);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: var(--colorp);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 80%;
}

.progress-line.boo span{
    width: 90%;
}

.progress-line.js span{
    width: 85%;
}

.progress-line.angular span{
    width: 50%;
}

.progress-line.mysql span{
    width: 85%;
}

.progress-line.react span{
    width: 80%;
}

.progress-line.ts span{
    width: 70%;
}

.estudios .estudio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorg);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.estudios .estudio i{
    font-size: 3rem;
    background-color: var(--colors);
    color: var(--colorb);
    border-radius: 50%;
    padding: 6px;
    transition: all 0.5s ease;
}

.estudios .estudio span{
    font-size: 1.5rem;
    font-weight: 700;
}

.estudios .estudio p{
    font-size: calc(0.4vw + 0.9rem);
    margin: 0;
}

.estudios .estudio:hover{
    background-color: var(--colorp);
    color: var(--colors);
    box-shadow: 0px 20px 20px 0px rgb(157 157 157 / 50%);
}

.estudios .estudio:hover i{
    background-color: var(--colorc);
    color: var(--colors);
}

.contacto textarea{
    resize: none;
}

.contacto .btn{
    background-color: var(--colorp);
    padding: 8px 35px;
    font-weight: 600;
    color: var(--colors);
    box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
    border: 1px solid transparent;
    border-radius: 20px;
    transition: var(--botona);
}

.contacto .btn:hover{
    border: 1px solid var(--colorb);
    background-color: transparent;
    color: var(--colorb);
}

.contacto .tarjeta .icono{
    background-color: var(--colors);
    color: var(--colorp);
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    border-radius: 5px;
}

.contacto .tarjeta span{
    font-size: 1.15rem;
}

.contacto .tarjetas{
    background-color: var(--colorp);
    box-shadow: 0px 20px 20px 0px rgb(157 157 157 / 50%);
    border-radius: 10px;
}

.contacto .tarjetas i{
    font-size: 1.75rem;
    color: var(--colors);
    transition: all 0.5s ease;
    cursor: pointer;
}

.contacto .tarjetas i:hover{
    color: #efefff;
}

.contacto .tarjetas p{
    color: #efefff;
    margin: 0;
}

.contacto .tarjetas h4, .contacto .tarjetas h5{
    color: var(--colors);
}

.contacto .tarjetas h4 {
    border-bottom: 1px solid var(--colors);
    padding-bottom: 5px;
}

.form-control:focus {
    border-color: var(--colorc) !important;
    box-shadow: 0 0 0 0.2rem rgb(37 161 142 / 25%) !important;
}

footer{
    background-color: var(--colorb);
    color: var(--colors);
}

footer i{
    font-size: 1.75rem;
    cursor: pointer;
}

footer a{
    color: var(--colors);
    text-decoration: none;
}

footer i:hover{
    color: var(--colorg);
}

footer h5 span{
    font-weight: bold;
}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }  
}

@keyframes showText2 {
    100%{
      opacity: 1;
    }  
  }

  @keyframes showText {
    100%{
      opacity: 1;
    }  
  }
